In [1]:
from joblib import load, dump
import pandas as pd

In [11]:
df_training = load("./datos_training_n_eval_5_sample.pkl")

In [16]:
df_training = pd.read_csv("./data_training.csv")

In [17]:
df_training.shape

(8188, 19)

In [18]:
df_training.head()

,ID_PROYECTO,NUMERO_CONVOCATORIA,ANIO,USUARIO,CVU,NOMBRE,CVE_RCEA,AREA,DISCIPLINA,SUBDISCIPLINA,INSTITUCION,PAIS,ESTADO,DEPENDENCIA,SUBDEPENDENCIA,DESCRIPCION_PROYECTO,PALABRAS_CLAVE1,PALABRAS_CLAVE2,PALABRAS_CLAVE3
0,1105,PROBLEMAS-2015-01,2015,X_jpena904,904,JUAN JOSE PE?A CABRIALES,RCEA-06-06773-2002,CIENCIAS FISICO MATEMATICAS Y CIENCIAS DE LA T...,MATEMATICAS,NaN,CENTRO DE INVESTIGACION Y DE ESTUDIOS AVANZADO...,MEX,DF,UNIDAD IRAPUATO,DEPARTAMENTO DE BIOTECNOLOGIA Y BIOQUIMICA,mund actual alt dinam complej condicion socioa...,Inteligencia artificial,Agricultura urbana y periurbana,Sistema de soporte de decisiones
1,1105,PROBLEMAS-2015-01,2015,X_hmorales22194,22194,HELDA ELEONORA DE GUADALUPE MORALES,RCEA-06-11606-2006,CIENCIAS FISICO MATEMATICAS Y CIENCIAS DE LA T...,MATEMATICAS,NaN,EL COLEGIO DE LA FRONTERA SUR,MEXICO,CHIAPAS,UNIDAD SAN CRISTOBAL DE LAS CASAS,UNIDAD SAN CRISTOBAL DE LAS CASAS,mund actual alt dinam complej condicion socioa...,Inteligencia artificial,Agricultura urbana y periurbana,Sistema de soporte de decisiones
2,1105,PROBLEMAS-2015-01,2015,X_aperez58970,58970,ARTURO PEREZ VAZQUEZ,RCEA-06-17175-2009,CIENCIAS FISICO MATEMATICAS Y CIENCIAS DE LA T...,MATEMATICAS,NaN,COLEGIO DE POSTGRADUADOS EN CIENCIAS AGRICOLAS,MEXICO,VERACRUZ,CAMPUS VERACRUZ,CAMPUS VERACRUZ,mund actual alt dinam complej condicion socioa...,Inteligencia artificial,Agricultura urbana y periurbana,Sistema de soporte de decisiones
3,1775,PROBLEMAS-2015-01,2015,X_gordonez11603,11603,GERARDO MANUEL ORDO?EZ BARBA,RCEA-05-06026-2003,CIENCIAS SOCIALES,ECONOMIA,NaN,"EL COLEGIO DE LA FRONTERA NORTE, A.C.",MEXICO,BAJA CALIFORNIA,CENTRO DE ESTUDIOS FRONTERIZOS DEL NORTE DE ME...,CENTRO DE ESTUDIOS FRONTERIZOS DEL NORTE DE ME...,polit public enfrent pobrez extrem mediant dis...,Pobreza extrema,Seguridad alimentaria,Perdidas y desperdicios de alimentos
4,1775,PROBLEMAS-2015-01,2015,X_facosta12725,12725,FELIX ACOSTA DIAZ,RCEA-05-06058-2003,CIENCIAS SOCIALES,ECONOMIA,NaN,"EL COLEGIO DE LA FRONTERA NORTE, A.C.",MEXICO,BAJA CALIFORNIA,DIRECCION GENERAL ACADEMICA,DIRECCION GENERAL ACADEMICA,polit public enfrent pobrez extrem mediant dis...,Pobreza extrema,Seguridad alimentaria,Perdidas y desperdicios de alimentos

In [19]:
df_training["CVU"].nunique()

3421

In [ ]:
df_training[]

In [55]:
df_training_duplicates = df_training[["ID_PROYECTO", "NUMERO_CONVOCATORIA", "ANIO"]].drop_duplicates()
df_training_duplicates.shape

(87350, 3)

In [56]:
df_training_duplicates = df_training[["ID_PROYECTO", "NUMERO_CONVOCATORIA", "ANIO"]].drop_duplicates()
df_training_duplicates.shape

(87350, 3)

In [57]:
df_training_duplicates.head()

    ID_PROYECTO NUMERO_CONVOCATORIA  ANIO
0           619   PROBLEMAS-2015-01  2015
3          1779   PROBLEMAS-2015-01  2015
8        109898               C0003  2000
12       112657               C0003  2000
14       112671               C0003  2000

In [58]:
df_training_duplicates = df_training_duplicates[["ID_PROYECTO"]].drop_duplicates()
df_training_duplicates.shape

(86210, 1)

In [7]:
df = pd.read_csv("./data_training.csv")
df.shape

(8188, 19)

In [8]:
df = df[["NOMBRE", "ID_PROYECTO", "NUMERO_CONVOCATORIA", "ANIO", "CVU"]]

In [9]:
print(df["ID_PROYECTO"].nunique())

2397

In [10]:
print(df["CVU"].nunique())

3421

In [5]:
df

,NOMBRE,ID_PROYECTO,NUMERO_CONVOCATORIA,ANIO,CVU
0,JUAN JOSE PE?A CABRIALES,1105,PROBLEMAS-2015-01,2015,904
1,HELDA ELEONORA DE GUADALUPE MORALES,1105,PROBLEMAS-2015-01,2015,22194
2,ARTURO PEREZ VAZQUEZ,1105,PROBLEMAS-2015-01,2015,58970
3,GERARDO MANUEL ORDO?EZ BARBA,1775,PROBLEMAS-2015-01,2015,11603
4,FELIX ACOSTA DIAZ,1775,PROBLEMAS-2015-01,2015,12725
...,...,...,...,...,...
8183,GUADALUPE BEATRIZ XOCONOSTLE CAZARES,6227,PROBLEMAS-2017-01,2017,9302
8184,GUADALUPE BEATRIZ XOCONOSTLE CAZARES,6406,PROBLEMAS-2017-01,2017,9302
8185,ADRIEN GALLOU,6406,PROBLEMAS-2017-01,2017,448860
8186,RUY LOPEZ RIDAURA,86,PROBLEMAS-2015-01,2015,89555
8187,BETTY SOLEDAD MANRIQUE ESPINOZA,86,PROBLEMAS-2015-01,2015,179969

In [6]:
df["CVU"].nunique()

3421