In [24]:
import pandas as pd

df = pd.DataFrame(index=[0, 1,2])
df['col1'] = pd.DataFrame([1,2,3], dtype='category')
df['col2'] = pd.Series([1,2,3], dtype='category')

df.dtypes

col1       int64
col2    category
dtype: object

In [25]:
df.dtypes

col1       int64
col2    category
dtype: object

In [26]:
df

   col1 col2
0     1    1
1     2    2
2     3    3